<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.a79069.zhihu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".launchPager.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".newsList.NewsListActivity"/>

        <activity android:name=".newsDetail.NewsDetailActivity"/>

        <activity android:name=".dateSelect.DateActivity" android:parentActivityName=".newsList.NewsListActivity"/>

        <activity android:name=".otherDayNewsList.OtherDayNewsListActivity" android:parentActivityName=".dateSelect.DateActivity"/>


        <service android:name=".app.MyService"
                 android:enabled="true"
                 android:exported="false">
        </service>
    </application>


</manifest>
